@{
    ViewBag.Title = "Home Page";
}

<style>
    .progress {
        position: relative;
        width: 300px;
        border: 1px solid #ddd;
        padding: 1px;
    }

    .progress-bar {
        width: 0px;
        height: 20px;
        background-color: #57be65;
    }
</style>


<div class="jumbotron">
    <h1>Subir Archivo</h1>
    @{
        ViewBag.Title = "Subir archivo";
    }

    @using (Ajax.BeginForm("SubirArchivo", "Home", new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input type="file" name="files" id="A1" class="form-control"/>
        <input type="file" name="files" id="A2" class="form-control"/>
        <input type="file" name="files" id="A3" class="form-control"/>
        <input type="submit" value="Subir" class="btn btn-success"/>

    }

    <div class="progress">
        <div class="progress-bar">0%</div>
    </div>
    <div id="status"></div>
</div>



@section scripts{
@*<script src="http://malsup.github.com/jquery.form.js"></script>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>

<script>
  //(function () {
  //    var bar = $('.progress-bar');
  //    var percent = $('.progress-bar');
  //    var status = $('#status');

  //    $('form').ajaxForm({
  //        beforeSend: function () {
  //            status.empty();
  //            var percentValue = '0%';
  //            bar.width(percentValue);
  //            percent.html(percentValue);
  //        },
  //        uploadProgress: function (event, position, total, percentComplete) {
  //            var percentValue = percentComplete + '%';
  //            bar.width(percentValue);
  //            percent.html(percentValue);
  //        },
  //        success: function (d) {
  //            var percentValue = '100%';
  //            bar.width(percentValue);
  //            percent.html(percentValue);
  //            $('#A1').val('');
  //            $('#A2').val('');
  //            $('#A3').val('');
  //            alert(d);
  //        },
  //        complete: function (xhr) {
  //            status.html(xhr.responseText);
  //        }
  //    });
  //})();
</script>
}
